
#title {
    background-color : rgb(21, 102, 156);
    color: rgb(254, 255, 255); 
    text-align: center;
    padding: 15px;
}

.crrntCast {

    border-style: double;
    border-color: blue;
    text-align: center;
    display: flex;
    float: right;
    height: 650px;
    width: 650px;

}

.cast1 {

    border-style: double;
    border-color: rgb(4, 0, 255);
    text-align: center;
    display: flex;
    float: right;
    height: 150px;
    width:150px;
}

.cast2 {

    border-style: double;
    border-color: rgb(4, 0, 255);
    text-align: center;
    display: flex;
    float: right;
}

.cast3 {

    border-style: double;
    border-color: rgb(4, 0, 255);
    text-align: center;
    display: flex;
    float: right;
}

.cast4 {

    border-style: double;
    border-color: rgb(4, 0, 255);
    text-align: center;
    display: flex;
    float: right;
}

.cast5 {

    border-style: double;
    border-color: rgb(4, 0, 255);
    text-align: center;
    display: flex;
    float: right;
}